.categories {

    padding-top: 15px;
}

.category {

    display: flex;
    padding-bottom: 5px;

    &__description {
        flex-grow: 1;
    }

    &__button {
        width: 7em;
    }
}

.new-category {

    display: flex;

    &__description {
        flex-grow: 1;
    }

    &__button {
        width: 7em * 3;
    }
}
