.tasks {

    padding-top: 15px;
}

.task {

    display: flex;
    padding-bottom: 5px;

    &__text {
        flex-grow: 1;
    }

    &__button {
        width: 7em;
    }

    &__username {
        margin-left: 3px !important;
    }

    &__email {
        margin-left: 3px !important;
    }

    &__text {
        margin-left: 3px !important;
    }
}

.new-task {

    display: flex;

    &__text {
        flex-grow: 1;
    }

    &__username {
        margin-left: 3px !important;
    }

    &__email {
        margin-left: 3px !important;
    }

    &__text {
        margin-left: 3px !important;
    }
}
