.tasks {

    padding-top: 15px;
}

.task {

    display: flex;
    padding-bottom: 5px;

    &__text {
        flex-grow: 1;
    }

    &__button {
        width: 7em;
    }

    &__username {
        margin-left: 3px !important;
    }

    &__email {
        margin-left: 3px !important;
    }

    &__text {
        margin-left: 3px !important;
    }

    position: relative;

    &__tooltip {

        position: absolute;
        right: 0;
        top: -40px;
        z-index: 1;
        visibility: hidden;
        color: $col-white;
        padding: 5px 7px;
        border-radius: 4px;
        background-color: $col-black;
    }

    &:hover &__tooltip {

        visibility: visible;
    }
}

.new-task {

    display: flex;

    &__text {
        flex-grow: 1;
    }

    &__username {
        margin-left: 3px !important;
    }

    &__email {
        margin-left: 3px !important;
    }

    &__text {
        margin-left: 3px !important;
    }
}
